/* .music>span{
    text-align: center;
  } */

.bg-image {
    /* position: relative; */
    /* position: fixed;
    top: 0;
    left: 0; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* justify-self: center; */
    /* align-self: center; */
    /* height: 100vh;
    width: 100vw; */
    /* border-radius: 5px solid red; */
    /* margin-top: -45px; */
    /* margin-left: -50px; */
    /* max-height: 100%;
    max-width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* padding: 5px 5px; */
    /* flex: 0.4; */
    /* display: grid; */
    /* align-self: start; */
    /* place-items: center; */
}

.bg-image video {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    /* height: 100vh; */
    width: 100vw;
    z-index: -2;
    /* filter: blur(10px); */
    /* filter: contrast(1.2); */
    /* filter: brightness(1); */

    /* position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%; */
    /* size: cover; */
    /* z-index: -9; */
    /* opacity: 0.85; */
    /* filter: brightness(1); */
}
.blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(10, 8, 8, 0.18);
    z-index: -2;
}

.gif-blur {
    /* background-image: url("./gifs/small/cat.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* border-radius: 5px; */
    /* min-height: 480px; */
    /* min-width: 480px; */
    /* max-height: 480px; */
    /* max-width: 480px; */
}

#gif {
    /* place-self: center; */
    /* border: 0px solid gray; */
    /* min-height: 480px; */
    /* min-width: 480px; */
    /* max-height: 480px; */
    /* max-width: 480px; */
    /* max-height: 480px; */
    /* border-radius: 5px;
    object-position: center;
    object-fit: fill;
    visibility: visible; */
}

/* #refreshGif{
    background-color: transparent;
    width: 40px;
    height: 40px;
    place-self: center;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-top:5px;
  } */

/* #refreshGif:hover{
    cursor: pointer;
    border: 1px solid transparent;
  } */

/* @media only screen and (max-width: 640px) {
    #playlist-toggle{
      visibility: hidden;
    }
    #gif{
      max-height: 300px;
      max-width: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    }
  }

  @media only screen and (max-width: 1280px) {
    #gif{
      max-height: 430px;
      max-width: 430px;
      min-height: 430px;
      min-width: 430px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 430px;
        max-width: 430px;
        min-height: 430px;
        min-width: 430px;
    }
  }

  @media only screen and (max-width: 1140px) {
    #gif{
      max-height: 400px;
      max-width: 400px;
      min-height: 400px;
      min-width: 400px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 400px;
        max-width: 400px;
        min-height: 400px;
        min-width: 400px;
    }
  }

  @media only screen and (max-width: 1024px) {
    #gif{
      max-height: 300px;
      max-width: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    }
  }

  @media only screen and (max-width: 768px) {
    #gif{
      max-height: 250px;
      max-width: 250px;
      min-height: 250px;
      min-width: 250px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 250px;
        max-width: 250px;
        min-height: 250px;
        min-width: 250px;
    }
  } */

/* @media screen and (max-width:640px){
    .music{
      display: none;
    }
  } */
