.modalStyle{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.modalStyle>h2{
    /* text-align: center; */
    padding-left: 10px;
    font-size: 20px;
    color: beige;
    font-weight: 500;
}

.inputStyle{
    width: 430px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-right: 2px;
    background-color: rgb(222, 207, 206);
    color:black;
}

.chatStyle{
    border-radius: 10px;
    height: 350px;
    width: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid rgb(208, 197, 197);
    background-color: rgba(57, 62, 67, 0.927);
    /* background-color: rgb(214, 198, 146); */
    color: whitesmoke;
  }

.chatStyle::-webkit-scrollbar{
    display: none;
    width: 0px;
}

.messageStyle{
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 300px;
}

@media screen and (max-width: 640px){
   .inputStyle{
    width: 300px;
   }
   .chatStyle{
    width: 300px;
   }
   .modalStyle{
    max-width: 300px;
   }
   .modalStyle>h2{
    text-align: left;
    }
   .messageStyle{
    max-width: 250px;
   }
}